.Markdown{
    color: white;
}

.Markdown > h1{
    font-size: 4rem !important;
}
.Markdown > h2{
    font-size: 3rem !important;
}
.Markdown > h3{
    font-size: 2rem !important;
}
h4{
    font-size: 1.5rem !important;
}
h5, h6{
    font-size: 1.25rem !important;
}

p, code{
    font-size: 1rem !important;
    line-height: 1.5rem !important;
}

ul ul li{
    list-style: square inside;
    font-size: 1.13rem !important;
}

ul{
    list-style-type: disc !important;
    margin: 1rem !important;
    padding-inline-start: 40px !important;
}

ul ul{
    list-style: square !important;
    padding-inline-start: 0px !important;
    margin: 0 !important; 
}

.Markdown img{
    margin: 2rem 0 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center;
}

